doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Stratego | Game
    link(rel='stylesheet', href='./css/game.css')
    script(src='./js/game.js')
    script(src='./js/htmlUtils.js')
    script(src='./js/request.js')
  body
    h1.title Stratego
    #root
