doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Stratego | Host
    link(rel='stylesheet', href='./css/host.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css')
    script(src='./js/hostPage.js')
  body
    a(href='/')
      i#back.far.fa-arrow-alt-circle-left
    #hostPage.center
      .container
        span.title Stratego
        form.inputFields(method='POST', action='host', onsubmit='return isValidName()')
          input.nameInput.input(name='playerName', type='text', autocomplete='off')
          span.enterYourName Enter Your Name
          p#message.errorMsg Please enter your name
          input.btn(value='Host', type='submit')
        p.serverMsg= errorMsg