doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Stratego | Join
    link(rel='stylesheet', href='./css/host.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css')
    script(src='./js/hostPage.js')
  body
    a(href='/')
      i#back.far.fa-arrow-alt-circle-left
    #hostPage.center
      .container
        span.title Stratego
        form.inputFields(method='POST', action='join', onsubmit='return isValidInput()')
          input.nameInput.input(name='playerName', type='text', autocomplete='off')
          span.enterYourName Enter Your Name
          p#nameValid.errorMsg Please enter your name

          input.gameIdInput.input(name='gameId', type='text', autocomplete='off')
          span.enterGameId Enter GameId
          p#gameIdValid.gameIdErr.errorMsg Please enter Game Id

          input.joinBtn.btn(value='Join', type='submit')
        p.joinBtn.serverMsg= errorMsg