doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Stratego | Setup
    link(rel='stylesheet', href='./css/setup.css')
    script(src='./js/setup.js')
    script(src='./js/htmlUtils.js')
    script(src='./js/request.js')
  body
    #boardAndInfoPanel
      .setUpBoard
        .enemyTerritory
        .territory
      .container
        #panel
          .infoPanel
            img#infoImage(src='./images/soldierLogo.png', alt='fight')
        span.fightBtn.disabled FIGHT
    .palette