body {
  background-image: url('./../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Parchment !important;
}

@font-face {
  font-family: Parchment;
  src: url('./../fonts/parchment.ttf');
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  color: #fdd847;
  text-align: center;
  font-size: 3.2rem;
}

.tile:hover {
  border: 2px solid #fdd847;
}

.board {
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  background-image: url(../images/setupBoardBackGround.jpg);
  border: 0.3vw ridge #fdd847;
}

.tile {
  position: relative;
  box-sizing: border-box;
  border: 1px solid rgba(30, 0, 0, 0.7);
  cursor: pointer;
}

.lake {
  background-image: url('../images/sea.png');
  border: none;
}

.lake:hover {
  border: none !important;
}

.pieceImage {
  height: 100%;
  width: 100%;
}
