body {
  font-family: sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/background.png');
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: cover;
}

h1 {
  color: #fdd847;
  font-family: sans-serif;
  text-align: center;
}

p {
  color: #fdd847;
}

input {
  border: none;
  border-bottom: 1.2px solid #fdd847;
  background-color: transparent;
  padding: 2px;
  font-size: 1rem;
  color: #fdd847;
  margin-top: 3rem;
  outline: none;
}

a {
  text-decoration: none;
}

#homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fdd847;
  padding: 1rem 0.9rem;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  height: 26rem;
  width: 17rem;
}

.title {
  color: #fdd847;
  position: absolute;
  top: -4px;
  padding: 39px 75.6px;
  font-weight: 300;
  font-size: 2rem;
}

.inputFields {
  font-size: 1rem;
  padding: 3.8rem 0.5rem;
  color: #fdd847;
}

::placeholder {
  color: #fdd847;
  opacity: 30%;
}

#message {
  visibility: hidden;
  font-weight: 100;
}

#nameValid,
#gameIdValid {
  visibility: hidden;
  font-weight: 100;
}

.host {
  padding: 0.8rem 4rem;
  border-radius: 25px;
  color: #fdd847;
  border: 1px solid #fdd847;
  cursor: pointer;
  margin: 1.9rem 3rem;
}

.host:hover {
  background-color: #fdd847;
  color: #1f0000;
}

.host:active {
  border: 1px ridge #1f0000;
}

#back {
  font-size: 2rem;
  color: #fdd847;
}
