body {
  font-family: sans-serif;
  background-image: url('../images/background.png');
  background-size: cover;
  font-family: Parchment !important;
}

@font-face {
  font-family: Parchment;
  src: url('./../fonts/parchment.ttf');
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(35, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  border: 2px solid #fdd847;
  padding: 1rem 0.9rem;
  border-radius: 8px;
  height: 26rem;
  width: 17rem;
}

#back {
  font-size: 2rem;
  color: #fdd847;
}

.input {
  border: none;
  border-bottom: 1.2px solid #fdd847;
  background-color: transparent;
  padding: 2px;
  font-size: 1rem;
  color: #fdd847;
  outline: none;
}

td {
  text-align: right;
}

a {
  text-decoration: none;
}

#homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputFields {
  padding: 3.8rem 0.5rem;
  color: #fdd847;
  margin-top: 3rem;
}

::placeholder {
  color: #fdd847;
  opacity: 30%;
}

.errorMsg {
  color: #fdd847;
  visibility: hidden;
  font-weight: 100;
  font-size: 0.8rem;
  text-align: left;
}

.serverMsg {
  color: rgb(200, 200, 200);
  font-style: italic;
  font-weight: 100;
  font-size: 1.2rem;
  text-align: center;
}

.container {
  text-align: center;
  position: relative;
  display: contents;
}

.title {
  color: #fdd847;
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 3rem;
}

.btn {
  padding: 10px 0;
  font-size: 1.2rem;
  border-radius: 25px;
  color: #fdd847;
  border: 1px solid #fdd847;
  cursor: pointer;
  margin: 0.8rem 2rem;
  outline: none;
}

.btn:hover {
  background-color: #fdd847;
  color: #1f0000;
}

.btn:active {
  border: 1px ridge #1f0000;
}

.form-input {
  display: flex;
}

.gameIdMsg {
  margin-top: 7rem;
  color: #fdd847;
  font-size: 1.5rem;
  font-weight: 100;
}

.gameId {
  margin-top: 1rem;
  color: #fdd847;
  font-size: 1.5rem;
}

#loadingGif {
  margin-top: 2rem;
  width: 7rem;
  color: #fdd847;
}

.waitingMsg {
  margin-top: 3rem;
  font-size: 1.4rem;
  font-weight: 100;
  color: #fdd847;
}

#waitingBlock {
  text-align: center;
}
