body {
  background-image: url(../images/background.png);
  margin: 0vh;
}

.setUpBoard {
  display: flex;
  flex-direction: column;
  border: 0.1vh solid;
  background-image: url(../images/burntWood.jpg);
  background-position: center;
  height: 74vh;
  width: 74vh;
  background-size: cover;
  margin: 3vh 12vh;
}

.enemyTerritory {
  height: 44.35vh;
  width: 74vh;
}

.territory {
  display: flex;
  flex-wrap: wrap;
  height: 29.6vh;
  width: 74vh;
}

.tile {
  height: 7.4vh;
  width: 7.4vh;
  box-sizing: border-box;
  border-top: 0.2vh solid;
  border-left: 0.2vh solid;
  cursor: pointer;
}

.tile:hover {
  border-color: green;
}

.palette {
  display: flex;
  justify-content: space-around;
  margin: 0vw 5vw;
  border: 0.3vw ridge #fdd847;
  height: 12vh;
  padding: 1em;
  width: fit-content;
}

.pieceData {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fdd847;
}

.pieceContainer {
  width: 9vh;
  padding: 0 0.5em;
  cursor: pointer;
}

.pieceImage {
  height: 7.3vh;
  width: 7.3vh;
  border: 2px ridge #fdd847;
}

.boardPieceImage {
  height: 7.3vh;
  width: 7.3vh;
}
