body {
  background-image: url(../images/background.png);
  margin: 0vh;
}

.setUpBoard {
  display: flex;
  flex-direction: column;
  border: 0.1vh solid;
  background-image: url(../images/setupBoardBackGround.jpg);
  background-position: center;
  height: 74vh;
  width: 74vh;
  border: 0.3vw ridge #fdd847;
  background-size: cover;
  margin: 3vh 12vh;
}
.unavailable {
  filter: blur(1px);
  pointer-events: none;
}

.enemyTerritory {
  display: flex;
  flex-wrap: wrap;
  height: 44.33vh;
  width: 74vh;
}

.territory {
  display: flex;
  flex-wrap: wrap;
  height: 29.6vh;
  width: 74vh;
}

.tile,
.enemyTerritoryTile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.4vh;
  width: 7.4vh;
  box-sizing: border-box;
  border: 1px solid rgba(30, 0, 0, 0.7);
}
.enemyTerritoryTile {
  opacity: 0.3;
}
.lake {
  opacity: 1;
}

.tile {
  cursor: pointer;
}
.tile:hover {
  border: 2px solid #fdd847;
}

.active {
  transform: scale(1.1);
  border: 3px solid #fdd847 !important;
}

.palette {
  display: flex;
  justify-content: space-around;
  margin: 0vw 5vw;
  border: 0.3vw ridge #fdd847;
  height: 12vh;
  padding: 2vh;
  width: 90vw;
}

.pieceData {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fdd847;
}

.pieceContainer {
  width: 9vh;
  padding: 0 1vh;
  cursor: pointer;
}

.pieceImage {
  height: 7.3vh;
  width: 7.3vh;
  border: 2px ridge #fdd847;
}

.boardPieceImage {
  height: 7vh;
  width: 7vh;
}

.lake {
  border: none;
  background-image: url(../images/sea.png);
}

#panel {
  background: transparent;
  border: 3px ridge #fdd847;
  width: 50vh;
  margin: 2.8rem;
  height: 60vh;
  color: #fdd847;
  padding: 1rem;
  position: relative;
}

#panel > a {
  width: 40%;
  height: 5%;
  font-size: 1.2rem;
  position: absolute;
  bottom: 5%;
  left: 30%;
  text-decoration: none;
  color: #fdd847;
  border: 1px solid;
  text-align: center;
  padding: 1%;
}

#boardAndInfoPanel {
  display: flex;
}

.imageInInfo {
  width: 15vh;
  border: 1px solid;
}

#infoImage {
  width: 100%;
  margin: 20% 0%;
}

.infoPanel {
  width: 100%;
  text-align: center;
}
.infoPanel > p {
  text-align: left;
  font-size: 1.4em;
}
