.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.side {
  transform-style: preserve-3d;
  transform: rotateX(342deg) rotateY(407deg);
  position: relative;
  padding: 20em;
}

.face {
  height: 10em;
  width: 10em;
  border: 1px solid #000;
  box-sizing: border-box;
  position: absolute;
}

.top {
  transform: rotateX(90deg) translateZ(-5em);
  background-color: rgba(191, 63, 63, 0.3);
}
.bottom {
  transform: rotateX(90deg) translateZ(5em);
  background-color: rgba(191, 63, 191, 0.3);
}

.left {
  transform: rotateY(90deg) translateZ(5em);
  background-color: rgba(63, 127, 191, 0.3);
}
.right {
  transform: rotateY(90deg) translateZ(-5em);
  background-color: rgba(191, 191, 63, 0.3);
}

.front {
  transform: translateZ(-5em);
  background-color: rgba(63, 191, 127, 0.3);
}
.back {
  transform: translateZ(5em);
  background-color: rgba(191, 104, 63, 0.3);
}
